.my-info {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 890px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.about {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
}
.disc {
    font-family: arial;
}